// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */

//  Styling for the Checkout Page
 .StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  .sidebar li.active {
    font-weight: 500;
   }
// Styling for the Products Index Page
   @media  (min-width: 300px){
    .pagination {
       justify-content: center; 
    }
   }
.products_title{
   margin-top: -4%;
}

// .product-name{
//   display: flex;
//   align-items: center;
// }

#continueShopping{
  margin-left: 74%;
}

#itemCount{ 
margin: auto;
padding-bottom: 1%;
padding-top: 1%;
}

// create products page styling
#create_page{
  padding-top: 1%;
}



@media  (min-width: 767px){
  #create_page_ads{
    margin: auto;
    padding-left: 3%;
  }
 }

 @media (max-width: 767px){
  #create_page_ads{
    margin: auto;
    padding-bottom: 3%;
    width: 50%;
  }
 }