// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */

//  Styling for the Checkout Page
 .StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  .sidebar li.active {
    font-weight: 500;
   }
// Styling for the Products Index Page
   @media  (min-width: 300px){
    .pagination {
       justify-content: center;
    }
   }
.products_title{
   margin-top: -4%;
}

// .product-name{
//   display: flex;
//   align-items: center;
// }

#continueShopping{
  margin-left: 74%;
}

#itemCount{
margin: auto;
padding-bottom: 1%;
padding-top: 1%;
}

// create products page styling
#create_page{
  padding-top: 1%;
}



@media  (min-width: 767px){
  #create_page_ads{
    margin: auto;
    padding-left: 3%;
  }
 }

 @media (max-width: 767px){
  #create_page_ads{
    margin: auto;
    padding-bottom: 3%;
    width: 50%;
  }
 }


//  styling for the edit products page

// if i want the styling box downards
//  #radio_styling {
//   overflow-y: scroll;
//   display: inline-block;
//   max-height: 200px;

// }

#radio_styling{
  display: inline-flex;
  max-width: 100%;
  overflow-x: scroll;
  border-style: outset;
}
#edit_images{
  padding-top: 1%;
}

#cursor{
  background-color: grey;
}

#image_styling{
  outline-style: double;
  outline-color: lightgrey;
}

// styling for product show page
#product_info_1{
  list-style: inside;
}

ul>li>label{
  font-weight: bold;
  font-size: larger;
}
#review_styling{
    overflow-y: scroll;
    height: 197px;
}

#container_cursor{
  position: relative;
  text-align: center;
  color: white;
}
#cursor_1{
  position: absolute;
  bottom: 8px;
  left: 16px;
}

// styling for the landing / home page
#home_page_main{
  display: block;
}

.styling_first{
  position: relative;
  text-align: left;
  padding-top: 10%;
  color: white;
}
#styling_first_h1{
  font-size: 2.5rem;
}

#styling_first_p{
margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
}

.styling_second{
  position: relative;
  text-align: center;
  padding-top: 10%;
  color: white;
}

.styling_third{
  position: relative;
  text-align: right;
  padding-top: 10%;
  color: white;
}

#next_cursor{
  width: 10%;
}

#featured_text{
position: relative;
text-align: center;
font-size: x-large;
}

#book_logo{
  color: slategray;
}
// end of home page styling


// styling for the shopping cart

@media  (min-width: 1000px){
#cart_footer{
  position: relative;
  right:-78%;
}

#cart_footer_div{
  position: relative;
  right:-78%;
  margin: 5px;
}
}

#card_index{
  border-block-start-color: slategray;
    border-left-width: medium;
    border-left-color: slategray;
}

#card_create{
  border-block-start-color: slategray;
  border-left-width: medium;
  border-left-color: slategray;
}

#card_edit{
  border-block-start-color: slategray;
  border-left-width: medium;
  border-left-color: slategray;
} 

#body{
  padding-top: inherit;
}

// image styling
img{
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}
#box_show{
  width:  440px;        
  height: 440px;        
  
}    

#box_edit{
  width:  440px;        
  height: 440px;        
  
}


// css for the instant search page

// helps with keeping pagination in a line
.search-results-container-algolia {
  display: grid;
}

.result-title {
  color: black;
  font-size: x-large;
}
.result-description {
  color: black;
}

.result-price {
  color: black;
}

.img_instant_search{
  width:  100px;        
  height: 100px;
  margin-bottom: 5%;
  border-bottom: ridge;        
}

.pagination_search {
  display: inline-block;
}

.ais-pagination__link{
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.ais-refinement-list__value {
    color: black !important;
    font-size: 18px !important;
}
.ais-refinement-list__count {
  color: darkgrey !important;
  background: rgba(39,81,108,.2) !important;
  margin-left: auto;
  margin-right: 57px;
}